@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


html {
  zoom: 0.75;
}

@supports not (zoom: 0.75) {
  body {
    transform: scale(0.75);
    transform-origin: top left;
    width: calc(100% / 0.75);
    height: calc(100% / 0.75);
  }
}